<div class="password-box" *ngIf="!isLoading">
    <div class="password-outer">
        <form class="password-inner" (ngSubmit)="performReset()">
            <div class="form-label">Passwort</div>
            <input type="password" name="password" class="form-input" (ngModelChange)="resetState()" [(ngModel)]="user.password">
            <div class="form-label">Passwort wiederholen</div>
            <input type="password" name="password-repeat" class="form-input" (ngModelChange)="resetState()" [(ngModel)]="user.passwordRepeat">
            <button type="submit" class="form-button">Passwort ändern</button>
        </form>
    </div>
    <div class="message-container error" *ngIf="error">
        Passwort ungültig
    </div>
</div>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>