<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="outer-container">
    <div class="wool-list-container">
        <div class="wool-list-heading">
            <div>
                <span class="wool-list-heading-text">Wolle</span>
                <span class="logout-button material-symbols-outlined" (click)="authenticationService.logout()">
                    logout
                </span>
            </div>
            <div class="wool-list-buttons">
                <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" [queryParams]="{}"
                    queryParamsHandling="">
                    <div class="wool-filter-button">
                        <span class="material-symbols-outlined">
                            filter_list_off
                        </span>
                    </div>
                </a>
                <a routerLink="/filter" routerLinkActive="active" ariaCurrentWhenActive="page"
                    queryParamsHandling="preserve">
                    <div class="wool-filter-button">
                        <span class="material-symbols-outlined">
                            filter_alt
                        </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="wool-list">
            <div class="wool-list-item-container" *ngFor="let wool of wools">
                <app-wool-list-item [wool]="wool" (elementDeletedEmitter)="handleElementDeleted()"></app-wool-list-item>
            </div>
        </div>
    </div>
    <a routerLink="/add" routerLinkActive="active" ariaCurrentWhenActive="page">
        <div class="wool-add-button">
            <span class="material-symbols-outlined">
                add
            </span>
        </div>
    </a>
</div>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>