<div class="login-box">
    <div class="login-outer">
        <form class="login-inner" (ngSubmit)="performLogin()">
            <div class="form-label">E-Mail</div>
            <input type="text" name="username" class="form-input" [(ngModel)]="email">
            <div class="form-label">Passwort</div>
            <input type="password" name="password" class="form-input" [(ngModel)]="password">
            <button type="submit" class="form-button">Login</button>
        </form>
    </div>
    <div class="message-container error" *ngIf="error">
        Benutzername oder Passwort falsch
    </div>
    <div class="message-container info" *ngIf="showMessage">
        {{message}}
    </div>
</div>