.wool-add-outer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.wool-add-container {
    width: 95%;
    outline: 1px solid lightgrey;
    border-radius: 5px;
    overflow: hidden;
}

.wool-add-heading {
    background-color: lightskyblue;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    width: 100%;
    border-bottom: solid 1px lightgrey;
}

.wool-heading-text {
    font-size: 30px;
    padding-left: 24px;
}

.wool-entry {
    max-height: calc(90vh - 60px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.create-input {
    border: 1px solid grey;
    border-radius: 5px;
    height: 36px;
}

.create-input::placeholder {
    color: lightskyblue;
    vertical-align: baseline;
    font-size: 16px;
}

.input-field {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 800px;
    max-width: 90%;
}

.input-label {
    color: lightskyblue;
    font-size: 20px;
}

.wool-create {
    border: 1px solid lightskyblue;
    border-radius: 5px;
    background-color: lightskyblue;
    width: 200px;
    line-height: 36px;
    cursor: pointer;
}

.button-region {
    width: 800px;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
}

.back-button-container {
    position: relative;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 0;
}

.back-button-link {
    width: 800px;
    max-width: 90%;
    display: block;
    transform: translateY(24px);
}

.back-button {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: lightskyblue;
    color: black
}

.image-input {
    width: 240px;
    height: 240px;
}

.wool-image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

@media only screen and (min-width: 1024px) {
    .wool-add-container {
        width: 80%;
    }

    .back-button-link {
        left: calc((100% - 800px)/2);
    }

    .wool-entry-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .wool-entry {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
}