<div class="signup-box" *ngIf="!isLoading">
    <div class="signup-outer">
        <form class="signup-inner" (ngSubmit)="performSignup()">
            <div class="form-label">Vorname</div>
            <input type="text" name="firstName" class="form-input" (ngModelChange)="resetState()" [(ngModel)]="user.firstName">
            <div class="form-label">Nachname</div>
            <input type="text" name="lastName" class="form-input" (ngModelChange)="resetState()" [(ngModel)]="user.lastName">
            <div class="form-label">E-Mail</div>
            <input type="text" name="username" class="form-input" (ngModelChange)="resetState()" [(ngModel)]="user.email">
            <div class="form-label">Passwort</div>
            <input type="password" name="password" class="form-input" (ngModelChange)="resetState()" [(ngModel)]="user.password">
            <div class="form-label">Passwort wiederholen</div>
            <input type="password" name="password-repeat" class="form-input" (ngModelChange)="resetState()" [(ngModel)]="user.passwordRepeat">
            <button type="submit" class="form-button">Registrieren</button>
        </form>
    </div>
    <div class="message-container error" *ngIf="error">
        {{getErrorMessage()}}
    </div>
</div>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>